.gallery_header {
    margin-bottom: 25px
}

.gallery_content-filters {
    margin-bottom: 30px
}

.gallery_content-filters .list-item {
    margin-right: 5px;
    margin-top: 5px
}

.gallery_content-filters .list-item:last-of-type {
    margin-right: 0
}

.gallery_content-filters_filter {
    display: inline-block;
    border: 2px solid #eb1616;
    color: #fff;
    text-transform: uppercase;
    font-family: Oswald,sans-serif;
    font-weight: 500;
    font-size: 14px;
    line-height: 22px;
    padding: 5px 10px;
    -webkit-transition: .3s ease-in-out;
    -o-transition: .3s ease-in-out;
    transition: .3s ease-in-out
}

.gallery_content-filters_filter.current,.gallery_content-filters_filter:focus,.gallery_content-filters_filter:hover {
    background: #eb1616
}

.gallery_content-media_item {
    margin-bottom: 20px;
    position: relative;
    float: left;
    min-height: 1px
}

.gallery_content-media_item .aspect {
    position: relative;
    display: block;
    width: 100%;
    height: 0;
    z-index: 1000;
    overflow: hidden;
    padding-bottom: 80%
}

.gallery_content-media_item .aspect__inner {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.gallery_content-media_item .aspect__inner img {
    height: 100%
}

.gallery_content-media_item:hover .gallery-img {
    -webkit-filter: grayscale(0);
    filter: grayscale(0);
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1)
}

.gallery_content-media_item .gallery-img {
    -webkit-filter: grayscale(1);
    filter: grayscale(1);
    -webkit-transition: .5s ease-in-out;
    -o-transition: .5s ease-in-out;
    transition: .5s ease-in-out
}

.gallery_pagination {
    margin-top: 20px
}

@media screen and (min-width:767.98px) {
    .gallery_header {
        margin-bottom: 100px
    }

    .gallery_header-subtitle {
        top: -31%;
        left: 37%
    }

    .gallery_content-media {
        margin: 0 -15px
    }

    .gallery_content-media_item {
        margin-bottom: 30px;
        padding: 0 15px
    }

    .gallery_pagination {
        margin-top: 10px
    }
}

@media screen and (min-width:991.98px) {
    .gallery_header {
        margin-bottom: 110px
    }

    .gallery_header-subtitle {
        left: 29%
    }

    .gallery_content-filters {
        margin-bottom: 50px
    }

    .gallery_content-filters .list-item {
        margin-right: 10px
    }

    .gallery_pagination {
        margin-top: 40px
    }
}

@media screen and (min-width:1199.98px) {
    .gallery_header-subtitle {
        left: 25%
    }
}

@media screen and (min-width:1399.98px) {
    .gallery_header-subtitle {
        left: 20%
    }
}

.pagination_pages-page .btn {
    padding: 9px 17px
}

.pagination_control {
    color: #eb1616
}

.pagination_control.btn.theme-element {
    padding: 9px 20px
}

@media screen and (min-width:374.98px) {
    .pagination_pages {
        margin: 0 14px
    }

    .pagination_pages-page {
        margin-right: 10px
    }

    .pagination_pages-page:last-of-type {
        margin-right: 0
    }

    .pagination_control {
        padding: unset
    }
}

@media screen and (min-width:575.98px) {
    .pagination_pages {
        margin: 0 30px
    }

    .pagination_pages-page .btn {
        padding: 12px 22px
    }

    .pagination_control.btn.theme-element {
        padding: 12px 20px
    }
}